{% extends "profile.html" %}

{% block body %}
        <h1 class="text-center text-responsive-huge text-focus-in">We Are Good To GO!</h1>
        <div class="text-center text-focus-in-1s">
    <a href="/topartists" class="homelink d-inline-block d-md-inline-block">Top Artist</a>
          <a href="/toptracks" class="homelink d-inline-block d-md-inline-block">Top Tracks</a>
          <a href="/lastsaved" class="homelink d-inline-block d-md-inline-block disabled">Last Saved</a>
          <a href="/recommend" class="homelink d-inline-block d-md-inline-block">Make A Recommendation</a>
        </div>

       {% if user.current_song %}
   <div class="text-center m-2 text-focus-in-1s">
            <p class="mt-5" id="songname" style="color: #1db954"><b>Now Playing:</b><br>{{ user.current_song.name }}<br>{{ user.current_song.artist }}</p>
            <button id="skip_btn" class="text-0 d-inline-block m-2  btn skipbtn">Skip Song</button>
    </div>
       {% endif %}

</div>
    <p style="display: none" id="token">{{ token }}</p>
{% endblock %}